*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('public/background.png'); 
    background-repeat: no-repeat;
    background-position:-380px 300px;
}

#navbarD{
    width: 100%;
    margin: 0 auto;
    display: flex;
    position: sticky;
    padding: 20px 0;
    top: 0;
    overflow: hidden;
    background-color: white;
    z-index: 1500;
}

#menu{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    padding-left: 20%;
}

.container{
    display: flex;
}


#thirdContainer h2{
    margin: 80px 0;
    color: #242d4c;
    font-size: 4vw;
}

#thirdContainer{
    text-align: center;
}

#thirdContainer button{
    margin-top: 20px;
    
}

#feedBackContainer{
    display: flex;
    /*justify-content: space-evenly;*/
}


.feedBack{
    width: 40vw;
    background-color: #fafafa;
    text-align: center;
    margin: 0 20px;
    padding-bottom: 10px;
}

.feedBack img{
    position: relative;
    top: -30px;
    width: 60px;
    height: 60px;
}

.feedBack h6{
    color: #242d4c;
    font-size: 1.5vw;

}

p{
    padding: 12px 0;
    font-size: 1.2vw;
    color:#3b404e;
    /*font-family:*/
}

.startButton{
    color:#ffffff;
    background-color: #ee6339;
    border: none;
    padding: 10px 20px;
    border-radius: 5rem;
    cursor: pointer;
}

.startButton:hover{
    box-shadow: 0 0 15px 0 #ee6339;
}

.description h3{
    margin: 0 25px;
    color: #242d4c;
}

.description{
    margin: 25px 0;
}

.description p{
    margin: 0 25px;
    width:75%;
}

.description::before{
    background-color: #ee6339;
    content: '01';
    position: relative;
    left: 0;
    border-radius: 2rem;
    padding: 6px 18px;
    bottom: -20px;
    left: -40px;
    color: white;
    font-size: 12px;
}
.description:nth-child(2)::before{
    content: '02';   
}

.description:nth-child(3)::before{
    content: '03';   
}

#firstPart2{
    width: 40%;
    margin : 0 auto;
}

#firstPart2 h2{    
    color: #242d4c; 
    margin: 25px 0;
}

#firstPart2 p{
    width: 60%;
    margin-top: 10px;
}

#secPart2{
    width:40%;
}





