/*تعديل رابط الصورة
تعديل firstPart html
في اكتر من firstPart//تعديل padding-left:26
تعديل margin-right start button html
*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Be Vietnam';
    overflow-x: hidden;
    color: #242d52;
    /*color: #242d52;*/
}
/*
}
body{
    background-image:url("https://manage-to.netlify.app/images/bg-tablet-pattern.svg");
    background-repeat: no-repeat;
    font-family: 'Be Vietnam';
     background-position:-380px 300px;
    color: #242d52;
}
#navBar{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-top:40px;
    margin-left: 40px;
   position: relative; 
}
a{
color: #242d52;
text-decoration: none;
}
#navbarD{
    width: 100%;
    margin: 0 auto;
    display: flex;
    position: sticky;
    padding: 20px 0;
    top: 0;
    background-color: white;
    z-index: 1500;
}
#menu{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    padding-left: 20%;
}
*/

#firstBackground{
    position: absolute;
    width: 600px;
    height: 600px;
    top: -400;
    right: -100px;
    z-index: -6;
}

#navBar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-top:40px;
    margin-left: 40px;  
}

#navbarD{
    width: 100%;
    padding: 0 7.5% 0 0;
    position: sticky; 
    top: 0;
    z-index: 100;
}

#menu{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 40%;
}

#menu a{
color: #242d52;
text-decoration: none;
}

#menu a:hover{
    text-decoration-color: #ee6339;
    text-decoration-line: underline;      
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85%;                           
    margin: 0 auto;
}
                               
#firstPart{
font-size:30px;
margin-top: 40px;
padding-left: 26px;
width: 40%;
}

h1{
    line-height: 70px;
    font-family: 'Be Vietnam';
}

#firstPart p{
    font-size:18px;
    font-family: 'Be Vietnam';
    color: #9197ac;
}

#secPart{
    /*تعديل padding 100-> 120 &width:38*/

    padding-top: 120px;
    width:38%;
   /* padding-right: 80px;*/
}

p{
    font-size: large;
    font-family: 'Be Vietnam';
    color: #9197ac;
}

#firstPart2{
    width: 40%;
    position: relative;
    /* margin : 0 auto;*/
}

#firstPart2Title{    
    color: #242d52; 
    margin: 25px 0;
    font-size: 40px;
    font-weight: bolder;
}

#difference{
    width: 80%;
    margin-top: 10px;
    color: #9197ac;
    font-size: 18px;
}

#secPart2{
    width:40%;
}

.description h3{
    margin: 0 25px;
    color: #242d52;
}

.description{
    margin: 25px 0;
}

.description p{
    margin: 0 25px;
    width:75%;
    color: #9197ac;
}

.description::before{
    background-color: #ee6339;
    content: '01';
    position: relative;
    left: 0;
    border-radius: 2rem;
    padding: 6px 22px;
    bottom: -28px;
    left: -55px;                                     
    color: white;
    font-size: 17px;
}
.description:nth-child(2)::before{
    content: '02';   
}

.description:nth-child(3)::before{
    content: '03';   
}


#thirdContainer button{
    margin-top: 20px;
}               

#thirdContainer{
    padding-top: 100px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

#thirdTitle{
    color: #242d52;
    font-size: 45px;
}



#feedBackContainer{
    display: flex;
    width: 100%;
    padding-top: 110px;
    /*justify-content: space-evenly;*/
}

.feedBack{
    width: 40vw;
    background-color: #fafafa;
    text-align: center;
    margin: 0 20px;
    padding-bottom: 10px;
}

.feedBack img{
    position: relative;
    top: -30px;
    width: 80px;
    height: 80px;
}

.names{
    color: #242d52;
    font-size: 24px;

}
.feedBack p{
    color: #9197ac;
    padding: 10px 22px;
}

#secBackground{
    position: absolute;
    width: 600px;
    height: 600px;
    right: 198;
    top: 365;
    z-index: -6;
}

@media screen and (max-width: 767px){                                                         
   /*Add margin- bottom to the firstPart1 to keep the background photo*/
    
    .container{
        display: grid; 
        grid-template-columns: auto;  
    }           

    #firstPart2{
        width: 100%;
        text-align: center;
    }
    
    #firstPart2Title{    
        color: #242d52; 
        margin: 25px 0;
        font-size: 40px;
        width: 60%;
        margin : 0 auto;
        font-weight: bolder;
    }
    
    #difference{
        width: 70%;
        margin: 0 auto;
        margin-top: 15px;
        color: #9197ac;
        line-height: 36px;
        font-size: 20px;
        margin-bottom: 80px;
    }    

    #secPart2{
        width:100%;
    }
    
    .description{
        margin: 25px 20px;
    }

    .description h3{
        margin: 25px 0 15px;
        color: #242d52;
        background-color: #fff0eb;
        padding: 5px 0;
    }
    
    .description p{
        margin: 25px 0 60px;
        width:100%;
        color: #9197ac;
        line-height: 35px;
    }
    
    .description h3::before{
        background-color: #ee6339;
        content: '01';
        position: relative;
        /*left: 0;*/
        border-radius: 2rem;
        padding: 7.5px 24px;
        left: -50px;
        bottom: 1px;                                     
        color: white;
        font-size: 16px;
    }
    .description:nth-child(2)::before{
        content: '02';   
    }
    
    .description h3:nth-child(3)::before{
        content: '03';   
    }
    .description::before{
        display:none;
    }              
    
    #thirdContainer{
        padding-top: 100px;
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }
    
    #thirdTitle{
        color: #242d52;
        font-size: 45px;
    }
    
    #feedBackContainer{
        display: flex;
        padding-top: 110px;
        /*justify-content: space-evenly;*/
    }
    
    .feedBack{
        width: 90%;
        background-color: #fafafa;
        text-align: center;
        margin: 0 20px;
        padding-bottom: 10px;
    }
    
    .feedBack img{
        position: relative;
        top: -30px;
        width: 80px;
        height: 80px;
    }
    
    .names{
        color: #242d52;
        font-size: 24px;
    
    }
    .feedBack p{
        color: #9197ac;
        padding: 10px 22px;
    }

    #thirdContainer button{
        margin-top: 20px;
    } 

}

.startButton{
    color:#ffffff;
    background-color: #ee6339;
    border: none;
    padding: 15px 25px;
    border-radius: 5rem;
    cursor: pointer;
}

.startButton:hover{
    box-shadow: 0 0 15px 0 #ee6339;
}

#startButton3{
    color: #ee6339;
    background-color: #ffffff;
    border: none;
    padding: 15px 25px;
    border-radius: 5rem;
    cursor: pointer;
    margin-top: 80px;
}

#firstFooter{
/*background : url("https://manage-to.netlify.app/images/bg-tablet-pattern.svg");*/
    background-color: #ee6339;
   /* width:100%;*/
    margin-top: 120px; 
    color: #ffffff;
    padding: 20px 7.5% 20px;
    height: 150px;
    overflow: hidden;
    display: flex;
    position: relative;
}
#firstFooterContent{
    display: flex;
    width: 85%;
    margin: 0 auto;
}

#firstFooter img:nth-child(1){
    width: 584px;                            
    height: 600px;
    opacity: 10%;
    position: absolute;
    top: -39px;
    left: 76px;
}

#secPart3 + img{
    width:600px;
    height: 600px;
    opacity: 10%;
    position: absolute;
    right: -371px;
    bottom: 62px;

}

#firstFooter h1 {
    line-height: 40px;
    position: relative;
    left: 0;
}

#firstPart3{
    width: 50%;
}

#secPart3{
    position: relative;
    width: 40%;
}

#dots{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#dots2{
    flex-direction: column;
    display: flex;
    gap:5px;
}
.dot {
    height: 6px;
    width: 6px;
    background-color: #bbb;
    border-radius: 50%;
}
                                  
#allDots{
      margin-top: 15px;
      display: flex;
      gap:5px;
    }

#secFooter{
    width: 100%;
    display: flex;
    background-color: #1d1e25;
    padding-bottom: 50px;
}

.logo{
    gap:10px;
    display: flex;
    flex-direction:row ;
}
  
  #menuFooter a{
    color: #ffffff;
    text-decoration: none;
    font-size: small;
    line-height:35px ;
  }
  
  #menuFooter{
      display: flex;
      flex-direction: row;
      gap:40px;
      padding-left: 30px;
      padding-top: 60px;
  }
  
  #secFooter .logo{
      padding-bottom: 100px;
  }
  
  #firstPart4 {
      padding-left:270px;
      padding-top:40px ;
      padding-right: 200px;
  }
  
  #secFooter img {
      width: 25px;
      height: 25px;
  }

  #menuColumn1{
   display: flex;
   flex-direction: column;
}

#menuColumn2{
    display: flex;
    flex-direction: column;
}

#menuFooter a:hover{
color: #ee6339;      
}

label{
    background-color: #ffffff;
    padding: 10px 17px;
    border-radius: 5rem;
    cursor: pointer;
    margin-top: 80px;
}
                                               
#secPart4{
       padding-top:90px;
       padding-left: 150px;
    }

#copyright{
       color: #7b716b;
       padding-top: 130px;
       padding-left: 40px;
   }

