*{
    margin: 0;
    padding: 0;
}
body{
    background-image:url("public/background.png");
    background-repeat: repeat-y;
    font-family: 'Be Vietnam';
    color: #242d52;
}
/*

}
body{
    background-image:url("https://manage-to.netlify.app/images/bg-tablet-pattern.svg");
    background-repeat: no-repeat;
    font-family: 'Be Vietnam';
     background-position:-380px 300px;
    color: #242d52;
}
#navBar{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-top:40px;
    margin-left: 40px;
   position: relative; 
}
a{
color: #242d52;
text-decoration: none;
}
#navbarD{
    width: 100%;
    margin: 0 auto;
    display: flex;
    position: sticky;
    padding: 20px 0;
    top: 0;
    background-color: white;
    z-index: 1500;
}
#menu{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    padding-left: 20%;
}
*/

#menu a:hover{
    text-decoration-color: #ee6339;
    text-decoration-line: underline;      
}

.container{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    
}
h1{
    line-height: 70px;
    font-family: 'Be Vietnam';
    
}
#firstPart{
font-size:30px;
padding-left: 26PX;
}
#secPart{
    padding-top: 100px;
    
}
p{
    font-size: large;
    font-family: 'Be Vietnam';
    color: #9197ac;
}


#thirdContainer h2{
    margin: 80px 0;
    color: #242d52;
    font-size: 4vw;
}

#thirdContainer{
    text-align: center;
}

#thirdContainer button{
    margin-top: 20px;
    
}

#feedBackContainer{
    display: flex;
    /*justify-content: space-evenly;*/
}


.feedBack{
    width: 40vw;
    background-color: #fafafa;
    text-align: center;
    margin: 0 20px;
    padding-bottom: 10px;
}

.feedBack img{
    position: relative;
    top: -30px;
    width: 80px;
    height: 80px;
}

.feedBack h6{
    color: #242d52;
    font-size: 1.5vw;

}
.feedBack p{
    color: #9197ac;
    padding: 10px 22px;
}

/*p{
    padding: 12px 0;
    font-size: 1.2vw;
    color:#3b404e;
    /*font-family:
}*/

.startButton{
    color:#ffffff;
    background-color: #ee6339;
    border: none;
    padding: 15px 25px;
    border-radius: 5rem;
    cursor: pointer;
}

.startButton:hover{
    box-shadow: 0 0 15px 0 #ee6339;
}

.description h3{
    margin: 0 25px;
    color: #242d52;
}

.description{
    margin: 25px 0;
}

.description p{
    margin: 0 25px;
    width:75%;
    color: #9197ac;
}

.description::before{
    background-color: #ee6339;
    content: '01';
    position: relative;
    left: 0;
    border-radius: 2rem;
    padding: 6px 22px;
    bottom: -25px;
    left: -55px;
    color: white;
    font-size: 17px;
}
.description:nth-child(2)::before{
    content: '02';   
}

.description:nth-child(3)::before{
    content: '03';   
}

#firstPart2{
    width: 40%;
    margin : 0 auto;
}

#firstPart2 h2{    
    color: #242d52; 
    margin: 25px 0;
}

#firstPart2 p{
    width: 60%;
    margin-top: 10px;
    color: #9197ac;
}

#secPart2{
    width:40%;
}


#navBar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-top:40px;
    margin-left: 40px;

}

#navbarD{
    position: sticky; 
    top: 0;
    z-index: 100;
    background-color: #ffffff;
}

#menu{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 50%;
}

a{
color: #242d52;
text-decoration: none;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
h1{
    line-height: 70px;
    font-family: 'Be Vietnam';

}
#firstPart{
font-size:30px;
padding-left: 80px;
    width: 40%;
}

#secPart{
    padding-top: 100px;
    width:40%;
    padding-right: 80px;
}

#firstPart p{
    font-size: large;
    font-family: 'Be Vietnam';
    color: #9197ac;
}




